{% load static %}

        
<section class = "group-chats">
    <div class = "group-chat-top">
        <div>
            <img src="{% static 'icons/grey_chat.svg' %}" alt="">
            <p>Групові чати</p>
        </div>
        <a href="">Дивитись всі</a>
    </div>
    <div class = "group-div">
        <img src="{% static 'icons/offline_user.svg' %}" alt="">
        <div class = "group-info">
            <div>
                <p class="group-title">New group</p>
                <p class="group-message">Чудово!</p>
            </div> 
            <span class="group-time">09:41</span>
        </div>
    </div>
    
</section>