{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block links %}
    {% endblock %}

    <title>Document</title>

    {% block title %}
    {% endblock %}
</head>
<body>
        <header>
            {% block header %}
                <nav class="nav-header">
                    <div class = "logo">
                        <a href=""><img src="{% static 'icons/logo.svg' %}" alt=""></a>
                    </div>
                    <div class = "links">
                        <a href="{% url 'home' %}"><img src="{% static 'icons/house.svg' %}" alt="">Головна</a>
                        <a href="{% url 'post' %}"><img src="{% static 'icons/galery.svg' %}" alt="">Мої публікації</a>
                        <a href="{% url 'friends_main' %}"><img src="{% static 'icons/people.svg' %}" alt="">Друзі</a>
                        <a href="{% url 'chats' %}"><img src="{% static 'icons/chat.svg' %}" alt="">Чати</a>
                        <a href="{% url 'personal-info' %}"><img src="{% static 'icons/settings.svg' %}" alt="">Налаштування</a>
                        <button><img src="{% static 'icons/exit.svg' %}" alt="">Вихід</button>
                    </div>
                </nav>
            {% endblock %}
        </header>

        <main>
            <div class="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            
        </main>
        
            <script src="{% static 'js/urlChosen.js' %}" ></script>
            {% block scripts %}
            {% endblock %}
</body>
</html>