{% load static %}

<div class="messages sidebar-card">
        <div class="alert-container">
            <div>
                <img src="{% static 'icons/grey_chat.svg' %}" alt="" class = "messsage-icon">
                <span>Повідомлення</span>
            </div>
            <a href="{% url 'chat' %}">Дивитись всі</a>
        </div>
        <div class="messages-container">
            <div class="message-container">
                <div class = 'user-avatar' data-user-id = "{{ person.id }}">
                    <img src="{% static 'icons/friends_icon3.svg' %}" alt="" class="avatar">
                    <div class="status offline"></div>
                </div>
                <div class="message-info">
                    <div class = "message-time-container">
                        <span>Mona Lisa</span><p>09:41</p>
                    </div>
                    <div class="message-text">
                        <p>Привіт! Як справи?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>