{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">


<div class="profile">
        <img src="{% static 'icons/sidebar-avatar.svg' %}" alt="Lina Li" class="profile-img">
        <h1>{{ user.first_name }}</h1>
        <p class="username">@{{ user.username }}</p>
        <div class="user-info">
            <div class="stats posts">
                <strong>566</strong>
                <p>Дописи</p>
            </div>
            <hr>
            <div class="stats follewers">
                <strong>12.1K</strong>
                <p>Читачі</p>
            </div>
            <hr>
            <div class="stats friends">
                <strong>222</strong>
                <p>Друзі</p>
            </div>
        </div>
    </div>