{% load static %}



<div class="profile">
        <div class = 'user-avatar' data-user-id = "{{ profile_user.id }}">
            <img src="{% static 'icons/sidebar-avatar.svg' %}" alt="Lina Li" class="profile-img">
            <div class="status offline big"></div>
        </div>
        <div class="usernames-container">
            <h1>{{ profile_user.first_name }}</h1>
            <p class="username">@{{ profile_user.username }}</p>
        </div>
        <div class="user-info-profile">
            <div class="stats posts">
                <strong>566</strong>
                <p>Дописи</p>
            </div>
            <hr>
            <div class="stats follewers">
                <strong>12.1K</strong>
                <p>Читачі</p>
            </div>
            <hr>
            <div class="stats friends">
                <strong>222</strong>
                <p>Друзі</p>
            </div>
        </div>
        {% if request.user != profile_user %}
            {% include 'particles/profile_buttons.html' %}
        {% endif %}
</div>