{% load static %}
<div class="requests sidebar-card">
        <div class="alert-container">
            <div>
                <img src="{% static 'icons/greyPeople.svg' %}" alt="" class = "messsage-icon">
                <span>Запити</span>
            </div>
            <a href="{% url 'friends' %}">Дивитись всі</a>
        </div>
        <div class="requests-container">
            {% for user in requests %}  
                <a class="request-container" href="{% url 'post' username=user.username %}">
                    <div class = 'user-avatar' data-user-id = "{{ user.id }}">
                        <img src="{% static 'icons/friends_icon3.svg' %}" alt="" class="avatar">
                        <div class="status offline"></div>
                    </div>
                    <div class="request-info">
                        <h3>{{ user.first_name }}</h3>
                        <p>1.4к підписників </p>
                    </div>
                </a>
            {% empty %}
            {% endfor %}
            
        </div>
    </div>