{% load static %}

<div class="requests-card">
        <span class="requests-header">
            <div class = "request-header">
                <p><img src="{% static 'icons/people.svg' %}" alt="" class="chat-icon">Запити</p>
                <a href="">Дивитись всі</a>
            </div>
            <div class="requests-container">
                <div class="people-request">
                    <img src="{% static 'icons/request_icon1.svg' %}" alt="">
                    <div class = "request-user">
                        <span>Yehor Aung</span><p>4.3к підписників</p>
                    </div>
                </div>
                <div class="people-request">
                    <img src="{% static 'icons/request_icon2.svg' %}" alt="">
                    <div class = "request-user">
                        <span>Ann Ann</span><p>1.6к підписників</p>
                    </div>
                </div>
                <div class="people-request">
                    <img src="{% static 'icons/request_icon3.svg' %}" alt="">
                    <div class = "request-user">
                        <span>Yeugen Jenua</span><p>10.3к підписників</p>
                    </div>
                </div>
            </div>
        </span>
    </div>