{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/settings.css' %}">
{% endblock links %}


{% block title %}
    
{% endblock  %}


{% block content %}
    
{% endblock %}


{% block sidebar %}
    <div class="container">
        <div class = "chosen">
            <a href="{% url 'friends_main' %}">Головна</a> 
            <hr>
        </div>
        <div class="tab">
            <a href="{% url 'friends_requests' %}">Запити</a>
        </div>
        <div class = "tab">
            <a href="{% url 'friends_recommendations' %}">Рекомендації</a> 
        </div>
        <div class="tab">
            <a href="{% url 'friends_all' %}">Всі друзі</a>
        </div>
    </div>
{% endblock sidebar %}


{% block scripts %}
    
{% endblock %}