{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main_app/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/home_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/create_username.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/create_post_modal.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/edit_delete_post.css' %}">
{% endblock links %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}
    Головна
{% endblock  %}

{% block modal %}
    {% include 'post_app/particles/create_post.html' %}
    {% if create_username %}
        {% include 'user_app/particles/auth_forms/form_create_username.html' %}
    {% endif %}
{% endblock modal %}

{% block sidebar %}
    {% include 'particles/profile.html' %}
    {% include 'particles/requests.html' %}
    {% include 'particles/messages.html' %}
{% endblock sidebar %}


{% block content %}
    {% include 'post_app/particles/content_post.html' %}
{% endblock %}

{% block scripts %}
    <script type = 'module' src="{% static 'user_app/js/create_username.js' %}"></script>
    <script type = 'module' src="{% static 'post_app/js/createPost.js' %}"></script>
    <script type = 'module' src="{% static 'post_app/js/postList.js' %}"></script>
    <script type = 'module' src="{% static 'post_app/js/deletePost.js' %}"></script>
{% endblock %}
