{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/friends.css' %}">
    
{% endblock links %}\

{% block title %}
    Друзі 
{% endblock %}

{% block sidebar %}
    {% include "user_app/particles/friends/friends_sidebar.html" %} 
{% endblock sidebar %}

{% block content %} 
    {% include "user_app/particles/friends/friends_main.html" %}
    {% include "user_app/particles/friends/friends_section.html" %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'user_app/js/friends_sections.js' %}"></script>
{% endblock %}