{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/settings.css' %}">
{% endblock links %}


{% block title %}
    
{% endblock  %}


{% block content %}
    
{% endblock %}


{% block sidebar %}
    <div class="container">
        <div class = "tab">
            <a href="{% url 'personal-info' %}">Особиста інформація</a> 
        </div>
        <div class="chosen">
            <a href="{% url 'albums' %}">Альбоми</a>
            <hr>
        </div>
    </div>
{% endblock sidebar %}


{% block scripts %}
    
{% endblock %}