.content #friendsMain{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chosen{
    text-decoration: underline var(--buttonPurple)  3px;
    text-underline-offset: 5px;
    color: var(--text) !important;
    font-weight: 700;
}

.page{
    color: var(--greyText);
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
}

.container span{
    cursor: pointer;
    
}



.tab{
    color: var(--greyText);
}

.section{
    display: flex;
    flex-direction: column;
    gap: 1.1vh;
    background-color: white;
    border: 1px solid var(--border);             
    border-radius: 10px;
    padding: 1rem 1.3vw;
    width: 100%;
    height: auto;
}

section{
    position: relative;
    overflow-y: auto;
}

.section-top{
    display: flex;
    justify-content: space-between;
}

.section-top h2{
    font-size: 1rem;
    font-weight: 500;
    
}

.section-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.friends-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
    width: 31.7%;
    height: fit-content;
    gap: 1rem;
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: white;
}

.friends-card .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.buttons a, .buttons button{
    text-decoration: none;
    font-family: var(--mediumFont);
    font-size: 400;
    font-size: 14px;
}

.friends-card .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.section-top span{
    color: var(--buttonPurple);
    cursor: pointer;
}

.top div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


#loadSentinel{
    width: 100%;
    height: 1px;
}