.content{
    display: flex;
    gap: 0.3vw;
    width: 100%;
}
.sidebar{
    width: 0;
    position: absolute;
}


/* contacts sidebar */

.contacts{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 34%;
    height: 100%;
}

.contacts-sidebar{
    position: relative;
    display: flex;
    background-color: white;
    border: 1px solid var(--border);
    border-radius: 6px;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    max-height: 81.5vh;
    height: 100%;
}

.sidebar-top{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.6vw;
}

.sidebar-messages-top div p, .group-chat-top p, .sidebar-top p{
    color: var(--greyText);
    font-size: 20px;
    font-family: var(--mediumFont);
    font-weight: 500;
}

.sidebar-search{
    display: flex;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 0.6rem 1rem;
    height: 2.6rem;
}


.sidebar-search input{
    width: 100%;
    height: 100%;
    padding: 0.7vh 1.1vw 0.7vh 0.7vw;
    border: none;
}

.sidebar-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar{
    background-color: var(--hover);
    width: 0.5rem !important;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb{
    background-color: var(--buttonPurple);
    border-radius: 10px;
}


.friend-div{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.friend-div p, .group-title{
    font-family: var(--mediumFont);
    font-weight: 500;
}

.user{
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1.5vw;
    gap: 0.3vw;
    width: 100%;
}

.user img{
    height: 4vh;
}

.user-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-info span{
    color: var(--greyText);
    font-size: 0.75rem;
}

.user-info div{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}



/* alerts */

.alerts{
    display: flex;
    flex-direction: column;
    width: 34%;
    gap: 0.5rem;
}

.sidebar-messages, .group-chats{
    height: 50%;
}

.sidebar-messages-top, .group-chat-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1.3vw;
}

.sidebar-messages-top div, .group-chat-top div{
    display: flex;
    align-items: center;
    gap: 0.6vw;
}


.sidebar-messages-top a, .group-chat-top a{
    color: var(--buttonPurple);
    text-decoration: none;
}


.sidebar-messages, .group-chats{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--border); 
    border-radius: 10px;
}

.group-chat{
    padding-left: 1.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1.5vw; 
}

.group-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    height: 6.2vh;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
}

.group-div:hover, .friend-div:hover{
    background-color: var(--hover);
}

.group-div img{
    height: 4vh;
}

.group-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.group-info span{
    color: var(--greyText);
    font-size: 0.75rem;
}

.group-info div{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}


/* main chat */

.btn{
    background-color:white;
    color: var(--buttonPurple);
    border: 1px solid var(--buttonPurple);
}

.send-btn, .btn{
    width: 2.5rem !important;
    height:  2.5rem !important;
}

.chat-main{
    width: 61%;
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.before-chat{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.chat-main p{
    width: 80%;
    text-align: center;
}


.chat-window {
    display: none;
    width: 100%;
    
}


.chat-window.is-open {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
}

.messages-container{
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: end;
}

.messages {
    height:auto;
    overflow-y: auto;
}

.message {
    margin-bottom: 8px;
}


.message-form {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    align-items: end;
    height: 4.3vh;
}

#messageInput {
    resize: none;
    overflow: hidden;
    padding: 0.7rem 1rem;
    width:75%;
    height: 100%;
}



.chat-top{
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}

.chat-info-exit{
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.chat-info{
    display: flex;
    gap: 0.7rem;
}

.chat-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-name-users{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#chatName{
    font-family: var(--mediumFont);
    color: var(--text);
    font-size: 24px
}

#chatUsers{
    color: var(--greyText);
    font-size: 14px;
    width: fit-content;
}

.chat-actions{
    margin-top: 1rem;
}

.chat-actions, .chat-exit{
    border: none;
    background-color: transparent;
    width: 1.25rem;
    height: 1.25rem;
}

.chat-actions{
    background-image: url(/static/post_app/icons/triple_dots.svg);
}
.chat-exit{
    background-image: url(../icons/chat-exit-btn.svg);
}

.message-container{
    display: flex;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.your-message-container{
    display: flex;
    justify-content: end;
}

.message{
    position: relative;
    display: flex;
    padding: 0.6rem;
    gap: 0.6rem;
    border: 1px solid var(--border);
    border-radius: 6px;
    align-items: end;
    max-width: 75%;
}

.your-message{
    background-color: var(--border);
}

.message-info{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.sender-name{
    color: var(--buttonPurple);
    font-size: 12px;
}

.message-text{
    text-align: start !important;
    font-size: 14px;
    height: auto;   
    min-width: 100%;
    word-break: break-word;     
    overflow-wrap: break-word;
}

.message-time{
    font-size: 12px;
    color: var(--greyText);
}