
.group-modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
}



.group-modal__box {
    width: 32vw;
    height: fit-content;
    max-width: 90vw;
    background: #ffffff;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
}

#group-step-users{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.chosen{
    width: 26vw;
    display: flex;
    justify-content: start;
    color: var(--greyText);
    font-size: 14px;
}

.group-step-users h2{
    font-family: GT Walsheim Pro Medium;
}

.search{
    display: flex;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 0.6rem 1rem;
    height: 2.6rem;
    width: 26vw;
    gap: 0.5rem;
    align-items: center;
}

.search input{
    border: none;
}

.group-modal__close{
    background-color: transparent;
    border: none;
}

.group-friends {
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    width: 26vw;
    overflow-y: auto;
}


.group-friend span{
    font-size: 1rem;
}

.group-friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    height: 5vh;
}


.group-modal__actions {
    display: flex;
    justify-content: end;
    width: 26vw;
    gap: 0.7rem;
}

#group-step-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.close-btn{
    width: 26vw;
    display: flex;
    justify-content: end;
}

.title{
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.title input{
    width: 100%;
    height: 100%;
    padding: 0.7vh 1.1vw 0.7vh 0.7vw;
}

.members{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#selected-users-list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#selected-users-list p{
    display: flex;
    align-items: center;
    height: 3vh;
    font-weight: 600;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.profile div{
    display: flex;
    gap: 1.5rem;
}

.profile p{
    color: var(--buttonPurple);
    display: flex;
    gap: 0.5rem;
}