
.group-modal, .edit-group-modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.50);
    z-index: 100;
}



.group-modal__box, .edit-group-modal__box {
    width: 32vw;
    height: fit-content;
    max-width: 90vw;
    background: #ffffff;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
}

#group-step-users, #edit-group-step-users{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.chosen{
    width: 26vw;
    display: flex;
    justify-content: start;
    color: var(--greyText);
    font-size: 14px;
}

.group-step-users h2, .edit-group-step-users h2, .group-friend span, .edit-group-friend span{
    font-family: var(--mediumFont);
}

.search{
    display: flex;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 0.6rem 1rem;
    height: 2.6rem;
    width: 26vw;
    gap: 0.5rem;
    align-items: center;
}

.search input{
    border: none;
}

.group-modal__close, .edit-group-modal__close{
    background-color: transparent;
    border: none;
}

.group-friends, .edit-group-friends-container {
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    width: 26vw;
    overflow-y: auto;
    gap: 0.5rem;
}

.group-friend,  .edit-group-friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--grey10);
    height: 5vh;
    padding: 0rem 1rem 1rem 0rem;
}

.group-friend div, .edit-group-friend div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.group-friend img, .edit-group-friend img{
    width: 40px;
    height: 40px;
}

.group-user-checkbox, .edit-group-user-checkbox{
    display: none;
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-image: url(../icons/checkbox.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.group-user-checkbox:checked + .checkbox, .edit-group-user-checkbox:checked + .checkbox {
    background-image: url(../icons/ticked_checkbox.svg);
}

.group-user-checkbox:checked + .checkbox::after, .edit-group-user-checkbox:checked + .checkbox::after {
    background-image: url(../icons/ticked_checkbox.svg);
}

hr{
    border: 1px solid var(--grey10);
}

.group-modal__actions, .edit-group-modal__actions {
    display: flex;
    justify-content: end;
    width: 26vw;
    gap: 0.7rem;
}

#group-step-name, #edit-group-step-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.close-btn{
    width: 26vw;
    display: flex;
    justify-content: end;
}

.title{
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.title input{
    width: 100%;
    height: 2.5rem;
    padding: 0.7vh 1.1vw 0.7vh 0.7vw;
}

.members{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.selected-users{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#selected-users-list, #edit-selected-users-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#selected-users-list img{
    width: 2.5rem;
    height: 2.5rem;
}





.chat-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.chat-profile div{
    display: flex;
    gap: 1.5rem;
}

.chat-profile p{
    color: var(--buttonPurple);
    display: flex;
    gap: 0.5rem;
}

.close{
    display: flex;
    justify-content: end;
    width: 100%;
}

.delete-user-from-group, .delete-user-from-edit-group{
    border: none;
    background-color: transparent;
    background-image: url("../../../../static/icons/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.info-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.info-div p {
    display: flex;
    align-items: center;
    height: 3vh;
    font-family: var(--mediumFont);
}

.user-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.letter-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.letter-group p{
    font-family: var(--mediumFont);
}


.group-actions-modal{
    position: absolute;
    transform: translateX(-50%);
    left: 56.5vw;
    top: 7.5rem;
    padding: 1rem;
    background-color: var(--hover);
    width: 21.43rem;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0em 1rem 1rem 0px #00000029;
    border: none;
}

.group-actions-modal:popover-open{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.group-actions-btn{
    display: flex;
    gap: 1vw;
    border: none;
    background-color: transparent;
    width: 100%;
}

.group-actions-btn span{
    font-size: 1rem;
}

.group-actions-modal .chat-actions{
    margin-top: 0rem !important;
}

.group-actions-top{
    width: 100%;
    display: flex;
    justify-content: end;
}

.media-img, .leave-group-img, .delete-group-img, .edit-group-img{
    width: 1.25rem;
    height: 1.25rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.media-img{
    background-image: url(../../../static/icons/media.svg);
}

.leave-group-img{
    background-image: url(/../../../static/icons/leave.svg);
}

.delete-group-img{
    background-image: url(../../../static/icons/trash.svg);
}
.edit-group-img{
    background-image: url(../../../static/icons/edit.svg);
}


.edit-media{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.edit-media span{
    display: flex;
    gap: 0.7rem;
}

.edit-media hr{
    width: 100%;
    border: 1px solid var(--border);
}

.members-nav{
    display: flex;
    justify-content: space-between;
}

.members-nav span{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: var(--buttonPurple);
    cursor: pointer;
}