{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chats_app/css/chats.css' %}">
{% endblock links %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}

{% block title %}
    
{% endblock  %}


{% block content %}
    {% include 'chats_app/particles/contacts.html' %}
    {% include 'chats_app/particles/chat_main.html' %}
    {% include 'chats_app/particles/alerts.html' %}
{% endblock %}



{% block scripts %}
    <script type="module" src="{% static 'chats_app/js/chats.js' %} "></script>
{% endblock %}