{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'chats_app/css/chats.css' %}">
{% endblock links %}


{% block title %}
    
{% endblock  %}


{% block content %}
    <div class = "chat">
        <div>
            <h2>Почніть нове спілкування</h2>
            <p>Оберіть контакти зі списку ліворуч або створіть нову групу, щоб почати спілкування</p>
        </div>
    </div>
    <div class = "friends-chats">
        
        <div class = "chats">
            <div class = "messages">
                <div>
                    <img src="{% static 'icons/chat.svg' %}" alt="">
                    <p>Повідомлення</p>
                </div>
                <a href="">Дивитись всі</a>
            </div>
            <div class = "user">
                <img src="{% static 'icons/sidebar-avatar.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Mona Lisa</h4>
                        <p>Привіт! як справи?</p>
                    </div> 
                    <span>09:41</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
        </div>
        <div class = "group-chats">
            <div class = "group-chat-name">
                <div>
                    <img src="{% static 'icons/chat.svg' %}" alt="">
                    <p>Групові чати</p>
                </div>
                <a href="">Дивитись всі</a>
            </div>
            <div class = "user">
                <img src="{% static 'icons/sidebar-avatar.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Mona Lisa</h4>
                        <p>Привіт! як справи?</p>
                    </div> 
                    <span>09:41</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
            <div class = "user">
                <img src="{% static 'icons/offline_user.svg' %}" alt="">
                <div class = "user-info">
                    <div>
                        <h4>Ann Ti</h4>
                        <p>Привіт!</p>
                    </div> 
                    <span>25.04.2025</span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block sidebar %}
    <button class="button"><img src="{% static 'icons/plus.svg' %}" alt="">Створити груповий чат</button>
    <div class = "friends-sidebar">
        <div class = "sidebar-contacts">
            <img src="{% static 'icons/greyPeople.svg' %}" alt="">
            <p>Контакти</p>
        </div>
        <div class = "sidebar-search">
            <img src="{% static 'icons/search.svg' %}" alt="">
            <input placeholder="Пошук">
        </div>
        <div class = "sidebar-friend-list">
            {% for i in range %}
                <div class = "friend-div">
                    <img src="{% static 'icons/friends_icon3.svg' %}" alt="">
                    <strong>Jane Cooper</strong>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock sidebar %}


{% block scripts %}
    
{% endblock %}