<main id="firends-main">
    {% for key, section in sections.items %}
        <div class="section" style="border: 1px black solid;">
            <div style="display:flex; justify-content: space-between">
                <h2>{{section.title}}</h2>
                <button>Дивитись всі</button>
            </div>
            <div style="display: flex; flex-wrap:wrap">
                {% include "user_app/particles/friends/friends_cards.html" with users=section.users section=key%}
            </div>
        </div>
    {% endfor %}
</main>