{% load static %}

{% for user in users %}
    <div class="friends-card">
        <div class="top">
            <img src="{% static 'icons/sidebar-avatar.svg' %}" alt="">
            <div>
                <h3>{{user.first_name}}</h3>
                <p>@{{user.username}}</p>
            </div>
        </div>
        <div class = "buttons">
            {% if section == 'requests' %}
                <a href="{% url 'post' username=user.username %}" class="button action-btn" >Підтвердити</a>
                <button class=" button  action-btn cancel-btn" type="button" data-url="{% url 'friends-action' user.id 'delete' %}">Відхилити</button>
            {% elif section == 'recommendations' %}
                <a href="{% url 'post' username=user.username %}" class="button action-btn" >Додати</a>
                <button class=" button  action-btn cancel-btn" type="button" data-url="{% url 'friends-action' user.id 'dismiss' %}">Не цікавить</button>
            {% elif section == 'friends' %}
                <a href="{% url 'post' username=user.username %}" class="button action-btn" >Повідомлення</a>
                <button class=" button  action-btn cancel-btn" type="button" data-url="{% url 'friends-action' user.id 'delete' %}">Видалити</button>
            {% endif %}
        </div>
    </div>
{% empty %}

{% endfor %}

{% block scripts %}
    <script type = 'module' src="{% static 'user_app/js/friends_action.js' %}"></script>
{% endblock scripts %}