<div class="form confirm disabled">
    <h2>Підтвердження пошти</h2>
    <p>Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити акаунт</p>
    <form action="{% url 'confirm' %}" method="post" id = 'confirm-form'>
        <div class="confirm-div">
            {% csrf_token %}
            <span>Код підтвердження</span>
            <div class = "inputs">{{ form_confirm.as_p }}</div>
        </div>
        <button type="submit">Підтвердити</button>
    </form>
    
    <p id="back">Назад</p>
</div>

<form action="{% url 'send-mail' %}" method = "post" style="display: none;" id = "send-mail">
    {% csrf_token %}
</form>
