{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{csrf_token}}">
{% endblock %}

{% block title %}
    Створення публікації
{% endblock %}

{% block content %}
    <div id='create-post-modal' class="create-post-modal" style="display: none;">
        <div class="post-content-modal">
            <div class="content-modal">
                <form action="" method="post" id="create-post-form" enctype="multipart/form-data">
                    <span id ="closePage"><img src="{% static 'post_app/icons/cross.svg' %}"alt=""></span>
                    <h2>Створення публікації</h2>
                    <p>Назва публікації</p>
                    <input type="text" placeholder="Впишіть назву публікації">
                    <p>Тема публікації</p>
                    <input type="text" placeholder="Напишіть тему публікації">   
                    <input type="text" placeholder="Напишіть контент публікації">
                        {{form.as_p}}
                        <p>Прикріпити посилання</p>
                        <div class="links-list" id = "links-list">
                            <input type="url" name="links" placeholder="https://example.com">
                        </div>
                        <button type="button" id="addLink">+</button>
                    </div>
                    <div>
                        <button type="button"></button>
                        <button type="button"></button>
                    </div>
                    <button type="submit">Публікація</button>
                </form>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src = "{% static 'post_app/js/create_post.js' %}"></script>
{% endblock %}