{% extends "base.html" %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Мої публікації{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'post_app/css/post.css' %}">
{% endblock links %}

{% block sidebar %}
    {% include 'profile.html' %}
{% endblock sidebar %}

{% block modal-create-post %}
    {% include 'post_app/particles/create_post.html' %}
{% endblock %}

{% block content %}
    {% include 'post_app/particles/content_post.html'   %}
{% endblock content %}

{% block scripts %}  
    <script src="{% static 'post_app/js/createPost.js' %}" ></script>
{% endblock scripts %}
