{% load static %}

        
<section class = "group-chats">
    <div class = "group-chat-top">
        <div>
            <div class="messages-group-not notification">
                <p id="groupUnreadCount"></p>
            </div>
            <img src="{% static 'icons/grey_chat.svg' %}" alt="">
            <span id=""></span>
            <p>Групові чати</p>
        </div>
    </div>

    <div id="group-list">
        {% for chat in group_chats %}
            <button type="button" class="chat-group-button group-div group-chat" data-chat-id="{{ chat.id }}" data-chat-title="{{ chat.name }}" data-chat-admin = "{{ chat.admin.first_name }}" data-chat-users = "{% for user in chat.users.all %}{{ user.first_name }} {% endfor %}">
                    <img src="{% static 'icons/no_avatar.svg' %}" alt="">
                    <div class = "group-info">
                        <div>
                            <p class="group-title">{{ chat.name }}</p>
                            <p class="group-message last-message"></p>
                        </div> 
                        <span class="group-time last-message-time"></span>
                    </div>
            <div class="unread-chat notification disabled"></div>
            </button>

        {% endfor %}
    </div>
    
</section>