{% load static %}

        
<section class = "group-chats">
    <div class = "group-chat-top">
        <div>
            <img src="{% static 'icons/grey_chat.svg' %}" alt="">
            <p>Групові чати</p>
        </div>
        <a href="">Дивитись всі</a>
    </div>

    <div id="group-list">
        {% for chat in group_chats %}
            <button type="button" class="chat-group-button group-div group-chat" data-chat-id="{{ chat.id }}" data-chat-title="{{ chat.name }}" data-chat-users = "{% for user in chat.users.all %}{{ user.username }} {% endfor %}">
                    <img src="{% static 'icons/offline_user.svg' %}" alt="">
                    <div class = "group-info">
                        <div>
                            <p class="group-title">{{ chat.name }}</p>
                            <p class="group-message">Чудово!</p>
                        </div> 
                        <span class="group-time">09:41</span>
                    </div>
            </button>

        {% endfor %}
    </div>
    
</section>