{% load static %}


<section class="sidebar-messages">
    <div class="sidebar-messages-top">
        <div>
            <div class="messages-personal-not notification">
                <p id="pesronalUnreadCount"></p>
            </div>
            <img src="{% static 'icons/grey_chat.svg' %}" alt="">
            <p>Повідомлення</p>
        </div>
    </div>
    <div class="chat-block">
        {% for chat in personal_chats %}
        {% for person in chat.users.all %}
        {% if person.id != request.user.id %}
        <button type="button" class="chat-user-button group-div" data-chat-user="{{ person.id }}"
            data-chat-id="{{ chat.id }}" data-chat-username="{{ person.first_name }}">
            <div class="user">
                <div class='user-avatar' data-user-id="{{ person.id }}">
                    <img src="{% static 'icons/friends_icon3.svg' %}" alt="">
                    <div class="status offline"></div>
                </div>
                <div class="user-info">
                    <div>
                        <h4>{{ person.first_name }}</h4>
                        <p class="last-message"></p>
                    </div>
                    <span class="last-message-time"></span>
                </div>
            </div>
            <div class="unread-chat disabled"><span></span></div>
        </button>
        {% endif %}
        {% endfor %}
        {% empty %}
        {% endfor %}
    </div>

</section>