{% load static %}

<div class = "edit-group-div" id = "edit-group-div" popover>
    <div class="edit-group-top">
        <button popovertarget= 'edit-group-div' popovertargetaction="hide" class = 'chat-actions'></button>
    </div>
    <button class="edit-group-btn" id="mediaBtn">
        <div class="media-img"></div>
        <span>Медіа</span>
    </button>
    <hr>
    <button class="edit-group-btn" id="leaveGroupBtn">
        <div class="leave-group-img"></div>
        <span>Покинути групу</span>
    </button>
</div>



