{% load static %}

<div class = "group-actions-modal" id = "group-actions-modal" popover>
    <div class="group-actions-top">
        <button popovertarget= 'group-actions-modal' popovertargetaction="hide" class = 'chat-actions'></button>
    </div>
    <button class="group-actions-btn" id="mediaBtn">
        <div class="media-img"></div>
        <span>Медіа</span>
    </button>
    <hr>
    <button class="group-actions-btn" id="leaveGroupBtn">
        <div class="leave-group-img"></div>
        <span>Покинути групу</span>
    </button>
</div>



