{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main_app/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/css/home_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock links %}


{% block title %}
{% endblock  %}


{% block content %}
{% endblock %}


{% block sidebar %}
    <div class="side-profile">
        <div class="avatar-card">
            <img src="{% static 'icons/sidebar-avatar.svg' %}" alt="Lina Li" class="avatar">
            <h1>Lina Li</h1>
            <p class="username">@thelili</p>
            <div class="profile-container">
                <div class="stats">
                    <strong>566</strong>
                    <p>Дописи</p>
                </div>
                <hr>
                <div class="stats">
                    <strong>12.1K</strong>
                    <p>Читачі</p>
                </div>
                <hr>
                <div class="stats">
                    <strong>222</strong>
                    <p>Друзі</p>
                </div>
            </div>
        </div>
        <div class="requests-card">
            <span class="requests-header">
                <div class = "request-header">
                    <p><img src="{% static 'icons/people.svg' %}" alt="" class="chat-icon">Запити</p>
                    <a href="">Дивитись всі</a>
                </div>
                <div class="requests-container">
                    <div class="people-request">
                        <img src="{% static 'icons/request_icon1.svg' %}" alt="">
                        <div class = "request-user">
                            <strong>Yehor Aung</strong><p>4.3к підписників</p>
                        </div>
                    </div>
                    <div class="people-request">
                        <img src="{% static 'icons/request_icon2.svg' %}" alt="">
                        <div class = "request-user">
                            <strong>Ann Ann</strong><p>1.6к підписників</p>
                        </div>
                    </div>
                    <div class="people-request">
                        <img src="{% static 'icons/request_icon3.svg' %}" alt="">
                        <div class = "request-user">
                            <strong>Yeugen Jenua</strong><p>10.3к підписників</p>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <div class="friends-card">
            <span class="friends-header">
                <p><img src="{% static 'icons/chat.svg' %}" alt=""><strong>Повідомлення</strong>Дивитись всі</p>
                <div class="friends-container">
                    <div class="friends-list">
                        <p><img src="{% static 'icons/friends_icon1.svg' %}" alt=""><strong>Mona Lisa</strong>Привіт! Як справи?</p>
                    </div>
                    <div class="friends-list">
                        <p><img src="{% static 'icons/friends_icon2.svg' %}" alt=""><strong>Ann Ti</strong>Привіт!</p>
                    </div>
                    <div class="friends-list">
                        <p><img src="{% static 'icons/friends_icon3.svg' %}" alt=""><strong>Ness Ty</strong>Привіт!</p>
                    </div>
                </div>
            </span>
        </div>
    </div>
{% endblock sidebar %}


{% block scripts %}
    
{% endblock %}
