a{
    text-decoration: none;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    gap: 1rem;
    position: relative;
}

.user-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: auto;
}

.stats{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats strong{
    font-size: 1.3rem;
}

.stats p, .request-header p{
    color: var(--greyText);
}

.requests-card{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    gap: 1rem;
}

.request-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.request-header p{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--greyText);
    font-size: 1.2rem;
    font-weight: 600;   
}

.request-header a{
    color: var(--buttonPurple);
    font-weight: 600
}

.requests-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requests-container span, .message-container span{
    font-family: var(--mediumFont);
}

.people-request{
    display: flex;
    gap: 0.25rem;
}

.people-request img{
    width: 3rem;
    height: 3rem;
}

.messages-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.alert-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin: 1rem;
}

.alert-container p{
    color: var(--buttonPurple);
    font-weight: 600;
    font-size: 1rem;
}

.alert-container div{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--greyText);
    font-size: 1.2rem;
}

.request-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
}

.messsage-icon{
    width: 1rem;
    height: 1rem;
}

.messages-container{
    display: flex;
    flex-direction: column;
}

.message-info-container{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.message-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.message-info{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.message-time-container{
    display: flex;
    justify-content: space-between;
    width: 20.5rem
}

.message-time-container p{
    color: var(--greyText);
    font-size: 0.7rem;
}
.purple{
    background-color:var(--hover);
}